@page

@using Microsoft.AspNetCore.Identity
@model RegisterModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <section class="container">
        <div class="row">
            <div class="col-12 mt-5 text-center">
                <form class="form-signin text-left shadow rounded" form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>

                    <label asp-for="Input.Name" class="sr-only mt-3">Nombre</label>
                    <input asp-for="Input.Name" class="form-control mt-3" placeholder="Nombre" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>

                    <label asp-for="Input.Surname" class="sr-only mt-3">Apellido</label>
                    <input asp-for="Input.Surname" class="form-control mt-3" placeholder="Apellido" />
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>


                    <label asp-for="Input.Email" class="sr-only mt-3">Email</label>
                    <input asp-for="Input.Email" type="email" class="form-control mt-3" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <label asp-for="Input.Password" class="sr-only mt-3">Email</label>
                    <input asp-for="Input.Password" type="password" class="form-control mt-3" placeholder="Contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <label asp-for="Input.ConfirmPassword" class="sr-only mt-3">Email</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control mt-3" placeholder="Repetir contraseña" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>


                    <div class="d-block text-right">
                        <button class="mt-2  text-white btn-lg bg-orange" type="submit">Registrar</button>
                    </div>

                </form>
            </div>
        </div>
    </section>

}
else
{
    Response.Redirect("/");
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
