@page "/agregar-ciudad"
@page "/editar-ciudad/{id:int}"
@using PetFinder.ViewModels
@inject ICityService CityService
@inject NavigationManager NavigationManager

<AuthorizeView Roles="@ApplicationUserService.ROLE_ADMIN">
    <Authorized>
        <div class="row">
            <div class="col-12 mt-5 text-center">
                <EditForm Context="editFormContext" Model="@_cityViewModel" id="addcityForm" class="form-signin text-left shadow rounded">
                    <!-- Muestra el titulo correspondiente -->
                    @if (Id != 0 && IsError == false)
                    {
                        <h1 class="h3 mb-3 font-weight-normal">Editar ciudad</h1>
                    }
                    else
                    {
                        <h1 class="h3 mb-3 font-weight-normal">Agregar ciudad</h1>
                    }
                    <label for="inputName" class="sr-only mt-3 ">Nombre</label>
                    <input id="inputName" type="text" class="mt-3 form-control" placeholder="Nombre" required autofocus="" @bind="_cityViewModel.Name">
                    <div class="d-block text-right">
                        <button class="mt-2 text-white btn-lg bg-orange-dark" type="button" value="Cancel" @onclick="Cancel">Cancelar</button>
                        <button class="mt-2 text-white btn-lg bg-orange" type="submit" value="Save" @onclick="SaveCity">Confirmar</button>
                    </div>
                    @if (IsError)
                    {
                        <div class="alert alert-danger mt-2">
                            <ul>
                                @foreach (var error in _errorsOnSaving)
                                {
                                    <li> @error </li>
                                }
                            </ul>
                        </div>
                    }
                </EditForm>
            </div>
        </div>

        <Modal @ref="Modal">
            <Title>
                ¡Se guardó con éxito!
            </Title>
            <Body>
            <p>
                La ciudad @_cityViewModel.Name se guardó con éxito.
            </p>
            </Body>
            <Footer>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick='() => NavigationManager.NavigateTo("/admin")'>Cerrar</button>
            </Footer>
        </Modal>
    </Authorized>

    <NotAuthorized>
        <Error>
            <Message> No tiene permisos para acceder a esta página</Message>
        </Error>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public int Id { get; set; }

    private readonly CityViewModel _cityViewModel = new();
    public bool IsError { get; set; }
    private Modal Modal { get; set; }
    private List<string> _errorsOnSaving = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            var city = await CityService.Get(Id);
            if (city == null)
            {
                _errorsOnSaving.Add("No se encontro la ciudad");
                IsError = true;
            }
            else
            {
                _cityViewModel.ConvertFromCity(city);
            }
        }
    }

    protected async Task SaveCity()
    {
        _errorsOnSaving = new List<string>();
        var result = await CityService.Save(_cityViewModel);
        if (result.Success)
        {
            Modal.Open();
        }
        else
        {
            IsError = true;
            _errorsOnSaving = result.Errors;
            StateHasChanged();
        }
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/admin");
    }

}