#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Fonts */

/*Zona fuentes*/

@font-face {
    font-family: 'VAG-Rounded-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/VAG-Rounded-Bold.woff') format('woff');
}

@font-face {
    font-family: 'VAGRoundedLtNormal';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/VAGRoundedLtNormal.woff') format('woff');
}

h1, h2, h3, .card-title, .list-group-item.card-title {
    color: #366C7D;
    font-family: 'VAG-Rounded-Bold';
}

body, li { font-family: 'VAGRoundedLtNormal !important'; }

body .navbar-brand { font-family: '-apple-system,BlinkMacSystemFont', "Segoe UI", 'Roboto'; }

body button, body .btn, body select, body input, .list-group, .list-group-item, p, th, td { font-family: 'VAGRoundedLtNormal'; }

.lastPetsTitle, .categoriesTitle, .petTitle { font-size: 26px; }

@media (min-width: 768px) {
    .lastPetsTitle, .categoriesTitle, .petTitle { font-size: 32px; }
}

@media (min-width: 1024px) {
    .lastPetsTitle, .categoriesTitle, .petTitle { font-size: 40px; }
}

.form-signin {
    margin: 0 auto;
    max-width: 500px;
    padding: 15px;
    width: 100%;
}

.nav-link {
    color: white !important;
    font-family: 'VAG-Rounded-Bold';
    letter-spacing: 1px;
}

.nav-link.active {
    background-color: #366C7D;
    border-radius: 8px;
    color: white !important;
    padding-bottom: 8px;
    padding-top: 8px;
}

body .bg-blue {
    background: #366C7D;
}

body .bg-blue-darker {
    background: #1A353D;
}

body .bg-blue-whiter{
    background: #57AFC9;
}

body .bg-emerald {
    background: #57E6E1;
}

body .bg-red {
    background: #f15e5e;
}

.categoriesLink, .categoriesLink:hover {
    color: black;
    text-decoration: none;
}

.imgPetCard { height: 215px; }

textarea {
    height: 100px;
    resize: none;
}

/* COMMENTS */

@media (min-width: 0) {
    .g-mt-3 { margin-top: 0.21429rem !important; }

    .g-pa-30 { padding: 2.14286rem !important; }

    .g-mr-15 { margin-right: 1.07143rem !important; }
}

.g-height-50 { height: 50px; }

.g-width-50 { width: 50px !important; }


.g-bg-secondary { background-color: #fafafa !important; }

.u-shadow-v18 { box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15); }

.g-color-gray-dark-v4 { color: #777 !important; }

.media-comment { margin-top: 20px }

/*Modal confirmation*/

.modal-confirm {
    color: #636363;
    max-width: 400px;
}

.modal-confirm .modal-content {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    font-size: 26px;
    margin: 30px 0 -10px;
    text-align: center;
}

.modal-confirm .close {
    position: absolute;
    right: -2px;
    top: -5px;
}

.modal-confirm .modal-body { color: #999; }

.modal-confirm .modal-footer {
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
    text-align: center;
}

.modal-confirm .modal-footer a { color: #999; }

.modal-confirm .icon-box {
    border: 3px solid;
    border-radius: 50%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    width: 80px;
    z-index: 9;
}

.modal-confirm .icon-box-error { border-color: #f15e5e; }

.modal-confirm .icon-box-error i { color: #f15e5e; }

.modal-confirm .icon-box-warning { border-color: #FFC600; }

.modal-confirm .icon-box-warning i { color: #FFC600; }

.modal-confirm .icon-box-success { border-color: #4BB543; }

.modal-confirm .icon-box-success i { color: #4BB543; }

.modal-confirm .icon-box-edit { border-color: #0275D8; }

.modal-confirm .icon-box-edit i { color: #0275D8; }

.modal-confirm .icon-box i {
    
    display: inline-block;
    font-size: 46px;
    margin-top: 13px;
}

.modal-confirm .btn, .modal-confirm .btn:active {
    border: none;
    border-radius: 4px;
    border-radius: 3px;
    color: #fff;
    line-height: normal;
    margin: 0 5px;
    min-height: 40px;
    min-width: 120px;
    text-decoration: none;
    transition: all 0.4s;
}

.modal-confirm .btn-secondary { background: #c1c1c1; }

.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus { background: #a8a8a8; }

.modal-confirm .btn-danger { background: #f15e5e; }

.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus { background: #ee3535; }

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


.validation-summary-errors {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.large-spinner {
    height: 3rem;
    width: 3rem;
}