<div class="modal fade @_modalClass" aria-hidden="true" tabindex="-1" role="dialog" style="display: @_modalDisplay; overflow-y: auto;">
    <div class="modal-dialog-centered mx-auto modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box @IconBoxClass">
                    <i class="fas @FasClass"></i>
                </div>
                <h4 class="modal-title w-100">@Title </h4>
            </div>
            <div class="modal-body">
                <p>
                    @Body
                </p>
            </div>
            <div class="modal-footer justify-content-center">
                @Footer
            </div>
        </div>
    </div>
</div>

@if (_showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {

    [Parameter]
    public RenderFragment Title { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    public bool IsSuccess { get; set; }
    public bool IsWarning { get; set; }
    public bool IsError { get; set; }
    public bool IsEditing { get; set; }
    private string IconBoxClass { get; set; }
    private string FasClass { get; set; }
    private Func<Task> FunctionConfirm { get; set; }

    private string _modalDisplay = "none;";
    private string _modalClass = "";
    private bool _showBackdrop = false;

    public void Open()
    {
        if (IsError)
        {
            IconBoxClass = "icon-box-error";
            FasClass = "fa-times";
        }
        else if (IsWarning)
        {
            IconBoxClass = "icon-box-warning";
            FasClass = "fa-exclamation";
        }
        else if (IsEditing)
        {
            IconBoxClass = "icon-box-edit";
            FasClass = "fa-pencil-alt";
        }
        else
        {
            IconBoxClass = "icon-box-success";
            FasClass = "fa-check";
        }
        _modalDisplay = "block;";
        _modalClass = "show";
        _showBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        _modalDisplay = "none";
        _modalClass = "";
        _showBackdrop = false;
        FunctionConfirm = null;
    }

    public void Confirm()
    {
        FunctionConfirm();
        Close();
    }

    public void OnConfirm(Func<Task> functionAsParameter)
    {
        FunctionConfirm = functionAsParameter;
    }

}