@using PetFinder.Areas.Identity.Extensions
@using PetFinder.Areas.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<nav class="navbar navbar-expand-lg navbar-dark bg-blue-darker sticky-top">
    <a class="navbar-brand" href="/">PetFinder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <AuthorizeView Roles="@ApplicationUserService.RoleAdmin">
                <li class="nav-item">
                    <a class="nav-link" href="admin">Admin</a>
                </li>
            </AuthorizeView>
            <li class="nav-item">
                <a class="nav-link" href="mis-mascotas">Mis Mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sobre-nosotros">Acerca de</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item nav-link">¡Hola, @context.User.Identity.GetUserFirstname()!</li>
                        <li class="nav-item">
                            <form method="post" action="Identity/Account/LogOut">
                                <button type="submit" class="nav-link btn btn-link">Salir</button>
                            </form>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link" href="Identity/Account/Login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Identity/Account/Register">Registrarse</a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </ul>
    </div>
</nav>

@code {

}