<div class="mb-3 text-right">
    @if (record > 0)
    {
        if (isHome)
        {
            <a href="/@(record - pageSize)" class="btn bg-gray text-white">Anteriores</a>
            <a href="" class="btn bg-gray text-white">Portada</a>
        }
        else if (isMyPets)
        {
            <a href="mis-mascotas/@(record - pageSize)" class="btn bg-gray text-white">Anteriores</a>
            <a href="mis-mascotas" class="btn bg-gray text-white">Portada</a>
        }
        else if (isAdmin)
        {
            <a href="admin/@(record - pageSize)" class="btn bg-gray text-white">Anteriores</a>
            <a href="admin" class="btn bg-gray text-white">Portada</a>
        }
    }
    @if (record + pageSize < petsCount)
    {
        if (isHome)
        {
            <a href="/@(record + pageSize)" class="btn bg-gray text-white">Siguientes</a>
        }
        else if (isMyPets)
        {
            <a href="mis-mascotas/@(record + pageSize)" class="btn bg-gray text-white">Siguientes</a>
        }
        else if (isAdmin)
        {
            <a href="admin/@(record + pageSize)" class="btn bg-gray text-white">Siguientes</a>
        }
    }
</div>

@code {
    [Parameter]
    public int record { get; set; }
    [Parameter]
    public int pageSize { get; set; }
    [Parameter]
    public int petsCount { get; set; }
    [Parameter]
    public bool isHome { get; set; }
    [Parameter]
    public bool isMyPets { get; set; }
    [Parameter]
    public bool isAdmin { get; set; }
}
