<div class="mb-3 text-right">
    @if (Record > 0)
    {
        if (IsHome)
        {
            <a href="/@(Record - PageSize)" class="btn bg-blue-darker text-white">Anteriores</a>
            <a href="" class="btn bg-blue-darker text-white">Portada</a>
        }
        else if (IsMyPets)
        {
            <a href="mis-mascotas/@(Record - PageSize)" class="btn bg-blue-darker text-white">Anteriores</a>
            <a href="mis-mascotas" class="btn bg-blue-darker text-white">Portada</a>
        }
        else if (IsAdmin)
        {
            <a href="admin/@(Record - PageSize)" class="btn bg-blue-darker text-white">Anteriores</a>
            <a href="admin" class="btn bg-blue-darker text-white">Portada</a>
        }
    }
    @if (Record + PageSize < PetsCount)
    {
        if (IsHome)
        {
            <a href="/@(Record + PageSize)" class="btn bg-blue-darker text-white">Siguientes</a>
        }
        else if (IsMyPets)
        {
            <a href="mis-mascotas/@(Record + PageSize)" class="btn bg-blue-darker text-white">Siguientes</a>
        }
        else if (IsAdmin)
        {
            <a href="admin/@(Record + PageSize)" class="btn bg-blue-darker text-white">Siguientes</a>
        }
    }
</div>

@code {

    [Parameter]
    public int Record { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public int PetsCount { get; set; }

    [Parameter]
    public bool IsHome { get; set; }

    [Parameter]
    public bool IsMyPets { get; set; }

    [Parameter]
    public bool IsAdmin { get; set; }

}