<div class="col-12 mb-3 col-md-6 col-xl-4">
    <div class="card shadow">
        <a href="ver/#"><img class="card-img-top imgPetCard" src="#" alt="#'s image"></a>
        <div class="card-body">
            <h3 class="card-title">{$pet->name}</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item pl-0">Perdido en: x</li>
                <li class="list-group-item pl-0">El día: x</li>
                <li class="list-group-item pl-0">Animal: x</li>
            </ul>
            <div class="text-right">
                <a href="ver/#" class="btn bg-orange text-white">Ver más</a>
                <!-- {if isset($smarty.session.ID_USER) && ($pet->userId == $smarty.session.ID_USER || $smarty.session.PERMISSION_USER == 1)} -->
                <a href="editar/#" class="btn bg-orange-dark text-white">Editar</a>
                <a href="encontrar/#" class="btn bg-orange-dark text-white">Lo encontré</a>
                <!-- {/if} -->
            </div>
            <!-- {if isset($smarty.session.ID_USER) && $smarty.session.PERMISSION_USER == 1} -->
            <div class="text-right">
                <a href="eliminar/#" class="btn bg-red text-white mt-1">Eliminar</a>
            </div>
            <!-- {/if} -->
            </div>
        </div>
    </div>

    @code {

    }
