@page "/sobre-nosotros"

<section class="container">
    <div class="row mx-1 justify-content-center">
        <h1 class="mt-4 mb-4 mt-md-5 mb-md-5 lastPetsTitle">Sobre nosotros</h1>
    </div>
    <div class="row mx-1 mb-3">
        <p class="lastPetsTitle">
            Un sitio web que permite reportar mascotas perdidas junto a su última ubicación, fotos, datos de contacto, etc.
            y comentar en caso de necesitar más información o creer haberla visto.
        </p>
    </div>
    <div class="row mx-1 mb-3">
        <p class="lastPetsTitle">
            Además, contamos con una API documentada y autenticación JWT por si necesitás utilizar nuestro servicio desde fuera.
        </p>
    </div>
    <div class="row mx-1 mb-3">
        <p class="lastPetsTitle">Dueños y desarrolladores de la página</p>
    </div>
    <div class="row mx-1">
        <ul>
            <li class="lastPetsTitle">
                <p class="lastPetsTitle">Huertas José</p>
            </li>
            <li class="lastPetsTitle">
                <p class="lastPetsTitle">De Francesco Germán</p>
            </li>
        </ul>
    </div>
</section>

@code {

}