@page "/error"

<main class="container">
    <h1 class="mt-4">
        <span>
            <i class="fa fa-robot"></i>
        </span>
        <span>Error: @Message</span>
    </h1>
    <h4>Codigo de error</h4>
</main>

@code {

    [Parameter]
    public RenderFragment Message { get; set; }

}