@page "/filtrar"

<section class="container">
    <div class="row justify-content-center">
        <h1 class="mt-5 mb-4 lastPetsTitle">Mascotas filtradas</h1>
    </div>
    <div class="row">
        <p>Aquí van las mascotas</p>
    </div>
    <div class="mb-3 text-right">
        <p>Aquí van los botones de paginación</p>
    </div>
</section>

@code {

}
