@page "/"
@page "/{record:int}"
@inject IPetService PetService

<section class="container">
    <div class="row justify-content-center">
        <h1 class="mt-4 mb-4 mt-md-5 mb-md-5 lastPetsTitle">Últimas mascotas perdidas</h1>
    </div>
    <div class="row">
        @if (pets == null)
        {
            <h2>Loading...</h2>
        }
        else
        {
            @foreach (Pet pet in pets)
            {
                <PetCard pet="pet"></PetCard>
            }
        }
    </div>
    <div class="mb-3 text-right">
        <p>Aquí van los botones de paginación</p>
    </div>
</section>

@code {
    [Parameter]
    public int record { get; set; }
    private int pageSize = 3;

    private IEnumerable<Pet> pets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        pets = await PetService.GetAll();
        pets = pets.Skip(record).Take(pageSize).ToList();
    }
}