@page "/mis-mascotas"

<section class="container-fluid bg-orange-dark">
    <div class="row">
        <div class="col-12 mt-3 mb-3">
            <a href="agregar-mascota" class="btn bg-orange text-white mr-2 mt-1">
                <span><i class="fa fa-paw"></i></span>
                <span>Añadir mascota perdida</span>
            </a>
        </div>
    </div>
</section>
<section class="container">
    <div class="row justify-content-center">
        <h1 class="mt-4 mb-4 mt-md-5 mb-md-5 lastPetsTitle">Mis mascotas perdidas</h1>
    </div>
    <div class="row">
        <p class="lastPetsTitle">Aún no tienes mascotas perdidas, ¿acabás de perder una? Lo sentimos, ¡agrégala a PetFinder para advertir al resto!</p>
    </div>
</section>

@code {

}